<!DOCTYPE html>
<html>
<head>
  <title>AchievementUnlocked</title>
   <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button>Log out</button>
  </form>
  <%= current_user.username %>
<% end %>

<% flash[:errors].try(:each) do |error| %>
  <%= error %><br>
<% end %>


<%= yield %>

</body>
</html>
